.markdown-preview-view p,
.markdown-preview-view ul,
.markdown-preview-view ol,
.markdown-source-view.is-live-preview .cm-line {
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
}

.markdown-preview-view a[class="external-link"] {
  word-break: break-all;
}
